
.slider-main {
  width: 74vw;
  display: flex;
  justify-content: space-between;
}
.slider-container, .game-selected {
  position: relative;
  display: flex;
  flex-basis: 50%;
}
.slider-container .slider-grid .slider .image-container img {
  border: 1px solid rgb(184, 183, 183);
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
}
.slider-container {
  top: 15vh;
  left: 20vw;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .slider-grid {
    display: flex;
    flex-wrap: wrap;
    width: 40vw;
    height: 45vh;
    .slider {
      width: 33.33%;
      display: flex; 
      justify-content: center;
      padding: 10px;
      .image-container {
        position: relative;
        width: 10vw;
        height: 21vh;
        .image-frame {
          position:absolute;
          width: 100%;
          height: 30%;
          bottom: 0px;
          border-top: 0.5px solid rgba(2, 2, 2, 0.355);
          border-radius: 0 0 10px 10px;
          text-align: center;
          background-color: #b0b0b0c0;

          div {
            position:absolute;
            background-color: transparent;
            color: #ffffff;
            width: 100%;
            font-size: 1rem;
            font-weight: 500;
            text-shadow: 2px 2px 20px #0994E2;
            text-transform: uppercase;
            top: 50%;
            transform: translate(0, -50%);

          }
        }
      }

    }
  }
  .prev {
    position: absolute;
    top: 50%; 
    left: 7px;
    width: 20px;
  }
  .next {    
    position: absolute;
    top: 50%;    
    right: 7px;
    width: 19px;
  }
  .slider-error {
    position: absolute;
    width: 100%;
    text-align: justify;
    color: rgb(238, 9, 9);
    font-size: 14px;
    font-weight: 500;
    padding: 60px;
  }
}
.game-selected {
  position: relative;
  top: 17vh;
  left:21vw;
  img {
    position: absolute;
    border-radius: 10px;
    width: 100%;
    height: 45vh;
    border: 1px solid rgb(184, 183, 183);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.466);
  }
  .game-selected-infoContainer {
    position:absolute;
    width: 100%;
    height: 15px;
    bottom: 0px;
    border-top: 0.5px solid rgba(2, 2, 2, 0.355);
    border-radius: 0 0 10px 10px;
    text-align: center;
    background-color: #b0b0b0ee;
    color: rgb(255, 255, 255);
    font-size: 16px;
    overflow: hidden;
    animation: showInfoGameSelected 2s ease-in-out;
    &:hover {
      span {
       opacity: 0;
      }
      height: 150px;
    }
    

    @keyframes showInfoGameSelected {
      0% {height: 35%;}
      100% {height: 0;}
    }
    .game-selected-info {
      label {
        color: #575757;
        font-weight: 600;
      }
      text-align: left;
      text-transform: capitalize;
      padding: 20px;
    }
  }
}

/*** RESPONSIVE DESIGN ***/

/* Mobiles */
@media only screen and (max-width: 320px) {

}

@media only screen and (min-width: 321px) and (max-width: 767px) {

  .slider-main {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 50vh;
  }

  .slider-container, .game-selected {
    flex-direction: column;
    align-content: center;
    align-items: center;
    flex-basis: 100%;
  }
  .slider-container {
    position: absolute;
    top: 400px;
    left: 50%; 
    transform: translate(-50%,-50%);
    z-index: 2;

    .slider-grid {
      width: 90vw; 
      height: 27vh;
      
      .slider {
        padding: 0; 
        .image-container {
          width: 80px; 
          height: 90px; 
          .image-frame {
            div {
              font-size: 0.7rem;
            }
          }
        }
      }
    }
    .prev {
      top: 42%; 
      left: 0;
    }
    .next {    
      top: 42%;    
      right: 0;
    }
  }
  .game-selected {
    position: relative;
    width: 100%;
    top: 0;
    left: 0;

    .game-selected-main {
      position: relative;
      img {
        position: absolute;
        top: 80px;
        left:50%;
        transform: translate(-50%,0%);
        width: 340px;
        height: 200px;
      }
      .game-selected-infoContainer{
        position:absolute;
        width: 340px;
        height: 15px;
        transform: translate(-50%,0%);
        top: 270px;
        left: 0;
 
        &.showInfo {
          animation: showInfoGameSelectedMobile 4s ease-in-out forwards;
        }
        @keyframes showInfoGameSelectedMobile {
          0% {height: 15px;}
          25% {height: 120px; top: 160px;}
          75% {height: 120px; top: 160px;}
          100% {height: 120px; top: 160px;}
        }
        &.hideInfo {
          animation: hideInfoGameSelectedMobile 2s ease-in-out forwards;
          span {
            opacity: 1;
            transition: opacity 4s ease-in-out ;
          }
        }
        @keyframes hideInfoGameSelectedMobile {
          0% {height: 120px; top: 160px;}
          100% {height: 15px; }
        }
      }
      .game-selected-info {
        label {
          color: #575757;
          font-weight: 600;
        }
        text-align: left;
        text-transform: capitalize;
        padding: 0 20px;
      }

    }


  }

}

/* Tablet */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .slider-container, .game-selected {
    flex-direction: column;
    align-content: center;
    align-items: center;  
  }
  .slider-container {
    position: absolute;
    top: 575px;
    left: 60%; 
    transform: translate(-50%,-50%);

    .slider-grid {
      width: 70vw; 
      height: 26vh;
      
      .slider {
        padding: 0; 
        .image-container {
          width: 120px; 
          height: 127px; 
          .image-frame {
            div {
              font-size: 0.7rem;
            }
          }
        }
      }
    }
    .prev {
      top: 42%; 
      left: 0;
    }
    .next {    
      top: 42%;    
      right: 0;
    }
  }

  .game-selected {
    position: relative;
    width: 100%;
    top: 120px;
    left: 55%;

    .game-selected-main {
      position: relative;
      img {
        position: absolute;
        top: 0px;
        left:50%;
        transform: translate(-50%,0%);
        width: 450px;
        height: 280px;
      }
      .game-selected-infoContainer{
        position:absolute;
        width: 450px;
        height: 15px;
        transform: translate(-50%,0%);
        top: 270px;
        left: 0;
        &:hover {
          span {
            display: none;
          }
          height: 120px;
          top: 160px;
        }
      }
      
    }


  }
}

/* Laptop */
@media only screen and (min-width: 992px) {

}