$isDark: #0d3d5b;

.isDark {
  &.leftMenu {
    background-color: $isDark;
    .logo {
      img {
        filter:invert(100%) brightness(100%) hue-rotate(190deg);
      }
    }
    .closeButton {
      color: white;
    }
    .icons {
      background-color: $isDark;
      div {
        background-color: $isDark;
        img {
          background-color: transparent;
          filter:invert(100%);
        }
        label {
          background-color: transparent;
          color: white;
          filter: opacity(0.8);
        }
      }
    }
  }
}

.leftMenu  {
  width: 20vw;
  height: 100vh;
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;

  .closeButton {
    display: none;
  }
  .logo {
    position: absolute;
    top: 10px;
    left: 42px;
    background-color: transparent;
    img {
      width: 80px;
      background-color: transparent;
    }
  }
  .icons {
    position: absolute;
    top: 115px;
    left: 42px;
    display: flex;
    flex-direction: column;
    background-color: white;

    div {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: white;
      padding: 10px;
      margin-top: 10px;
      &:hover {
        width: 15vw;
        padding: 10px;
        border-radius: 7px;
        background-color: #0994E2;
        
        img{ 
          width: 30px;
          background-color: transparent;
          filter:invert(100%);
        }
        label {
          color: white;
          background-color: transparent;
        } 
        span {
          color: rgb(255, 255, 255);
        }
      }
      img {
        width: 30px;
        background-color: white;
      }
      
      label {
        background-color: white;;
        width: 100%;
        font-size: 14px;
        color: #777777;
        margin-left: 10px;
        text-align: left;
      }
      span {
        color: red;
        font-size: 12px;
        font-weight: 600;
        margin-left: 20px;
        width: 100%;
      }
    }
  }
  
}

/*** RESPONSIVE DESIGN ***/

/* BLOCKING LANDSCAPE VIEWS */

@media only screen and (min-width: 321px) and (max-width: 991px) and (orientation: landscape) {
  .leftMenu {
    display: none;
  }
}


/* Mobiles */
@media only screen and (max-width: 320px) {

}

@media only screen and (min-width: 321px) and (max-width: 767px) {

  .leftMenu  {
    transition: width 0.5s ease-in-out;
    width: 0;
    left: 0;
    border-right: 0.5px solid rgb(114, 113, 113);
    z-index: 100;
    .container {
      opacity: 0;
    }
    .icons {
      display: none;
    }
  
  &.enable {
      display: block;
      width: 100vw;
      transition: width 0.5s ease-in-out forwards;
      border-right: 0.5px solid rgb(114, 113, 113);
      z-index: 100;
      
      .container {
        opacity: 1;
        transition: opacity 1s ease-in-out;
        transition-delay: 0.2s;
      }
      .closeButton {
        display: block;
        position: absolute;
        top: 32px;
        left: 20px;
        border: 0;
        font-size: 25px;
        opacity: 0.7s;
        background-color: transparent;
        
      }
      .logo {
        position: absolute;
        top: 5px;
        left: 70vw;
        img {
          width: 80px;
        }
      }
      .icons {
        display: block;
        top: 90px;
        opacity: 0.7;
        div {
          &:hover {
            width: 80vw;
            padding: 10px;
            span{
              color: white;
            }
          }
          img {
            width: 40px;
            height: 40px;
            margin-top: 5px;
          }
          label{
            font-size: 20px;
            margin-left: 20px;
          }
          span {
            color: red;
            font-size: 18px;
            font-weight: 600;
            margin-left: 40px;
            width: 100%;
          }
        }

      }
    
    }
  }
}


/* Tablet */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .leftMenu {
    width: 23vw;
    
    .icons {
      left: 10px;
      div {
        &:hover {
          width: 20vw;
        }
      }
    }
  }
}

/* Laptop */
@media only screen and (min-width: 992px) {

}