.gameList-search {
  position: absolute;
  right: 110px;
  top: 65vh;
  border: none;
  background-color: #c0c0c039;
  color: #707070;
  padding: 5px;
  border-radius: 5px;
  z-index: 1;
  &::placeholder {
    color:#70707093;
  }
}
.gameList-add {
  position: absolute;
  right: 80px;
  top: 65.5vh;
  width: 18px;
  z-index: 1;
  &:hover {
    animation: rotate 2s linear infinite;
  }
  
  @keyframes rotate {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
      filter:opacity(30%)
    }
    100% {
      transform: scale(1) ;
    }
  }
}
.gameList-searchIcon {
  position: absolute;
  right: 120px;
  top: 65.5vh;
  width: 15px;
  z-index: 1;
}
.gameList-main {
  position: absolute;
  left: 22vw;
  top:70vh;
  background: white;
  height:27vh;
  width: 74vw;
  overflow-y:scroll;
  border-radius: 5px;
  .gameList-container {
    position: relative;
    table {
      position: absolute;
      width: 100%;
      text-align: center;
      border-collapse: collapse;
      th {
        color: #818181;
        position: sticky;
        top:0;
        padding: 5px;
        font-size: 14px;
        white-space: nowrap;
        img {
          width: 15px;
          margin-left: 5px;
        &:hover {
            animation: sort 0.7s ease-in-out ;
            @keyframes sort {
              0% { transform: translateY(0px); }
              25% { transform: translateY(-1px); }
              50% { transform: translateY(1px); }
              75% { transform: translateY(-1px); }
              100% { transform: translateY(0px); }
            }
          }
        }
      }
      tbody {
        td {
          color: #8C8C8C;
          padding: 5px;
          text-transform: capitalize;
          white-space: nowrap;
        }
        #name {
          text-align: left;
          padding-left: 5px;
        }
      }
      .gameList-action {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex-wrap: nowrap;
        img {
          width: 18px;
          margin-left: 10px;
          &:hover {
            animation: shake 1s ease-in-out infinite;
          }
          @keyframes shake {
            0% { transform: rotate(0); }
            10% { transform: rotate(-10deg); }
            20% { transform: rotate(10deg); }
            30% { transform: rotate(-10deg); }
            40% { transform: rotate(10deg); }
            50% { transform: rotate(-10deg); }
            60% { transform: rotate(10deg); }
            70% { transform: rotate(-10deg); }
            80% { transform: rotate(10deg); }
            90% { transform: rotate(-10deg); }
            100% { transform: rotate(0); }
          }
        }
      }
      
    }
  }
}
.GameListError-message {
  position: absolute;
  bottom: 50%;
  color: red;
  width: 100%;
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  font-family: 'Inter', sans-serif;
  text-transform: uppercase;
  background-color: white;
}

/*** RESPONSIVE DESIGN ***/

/* Mobiles */
@media only screen and (max-width: 320px) {
}


@media only screen and (min-width: 321px) and (max-width: 767px) {

  .gameList-search {
    top: 500px;
    right: 50px;
    width: 150px;
  }
  .gameList-add {
    top: 505px;
    right: 20px;
  }
  .gameList-searchIcon {
    top: 505px;
    right: 55px;
    width: 15px;
  }
  .gameList-main {
    position: absolute;
    width: 100%;
    height: 28vh;
    top: 540px;
    left: 0px;
    .gameList-container {
      
      table {
        font-size: 0.8rem;
        th, td {
          flex-basis: 100%;
        }
        th {
          font-size: 12px;
          img {
            width: 12px;
          }
          &.sortCategory, &.sortDate, &.sortRange{
            display: flex;
            flex-direction: row;
          }
          
        }
        .gameList-action {
          margin-right: 10px;
          img {
            width: 16px;
          }
        }
      }
    }

  }

}

/* Tablet */
@media only screen and (min-width: 768px) and (max-width: 991px) {

}

/* Laptop */
@media only screen and (min-width: 992px) {

}